body {
    color: white;
    background: rgb(245, 181, 229);
}

header {
    border-bottom: solid 2px rgb(223, 124, 185);
    padding: 20px;
    font-size: 32px;
    color: rgb(223, 124, 185)

}

section {
    background: rgb(245, 181, 229);
    padding-bottom: 50px;
    padding-top: 80px;
    display: flex;
}